 /*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');*/

#__next{
  font-family: 'Ubuntu', sans-serif;
}

html {
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  
}

main {
  margin-bottom: 5rem; /* set the margin bottom equal to the height of the footer */
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3{
  font-family: 'Ubuntu', sans-serif;
}

h4{
  font-family: 'Ubuntu', sans-serif;
}

ul{
  list-style: none;
}

.nav-item ms-3{
  display: flex;
  flex-direction:row;
}

#socials{
  display:flex;
}

#jumbotron{
  margin-top:0;
  margin-left: 2rem;
}

.galleryPhoto{
  width: 90vmin;
  height:70vmin;
}



@media only screen and (max-width: 600px) {
  #socials{
    display:flex;
    flex-direction: column;
  }
  #jumbotron{
    margin-top: 2rem;
    max-width: 90%;
    
  }
  .galleryPhoto{
    width: 90vmin;
    height:70vmin;
  }

}

.bg-dark-custom {
  background-color: #212529;
}




